$font-size-base: 1rem;
$font-size-sm: $font-size-base;
$font-size-lg: $font-size-base;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: 22px;
$h4-font-size: $font-size-base;
$h5-font-size: 12px;
$h6-font-size: 9px;

$primary: #2fc1c1;
$secondary: #4b5588;
$dark: #202333;
$blue: #111320;
$purple: #1a1c28;
$info: #707179;
$gray: #b8b8be;
$slate: #4c5f73;
$danger: #dc3545;
$light: #f8f9fa;
$success: #00bf27;
$warning: #f7bdbd;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "blue": $blue,
  "purple": $purple,
  "info": $info,
  "gray": $gray,
  "slate": $slate,
  "danger": $danger,
  "light": $light,
  "success": $success,
  "warning": $warning,
);

@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "width": (
      property: width,
      class: w,
      responsive: true,
      values: (
        20: 20%,
        25: 25%,
        33: 33%,
        50: 50%,
        66: 66%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);

@import "bootstrap/scss/utilities/api";

@font-face {
  font-family: "SF Pro";
  src: url(./assets/fonts/SF-Pro-Rounded-Regular.otf);
}

body {
  font-family: "Sf Pro";
}

main {
  margin: auto;
  padding: 2rem;
}

.grantee-path {
  fill: none;
  stroke: white;
}
